################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Timesheet.MVC/.vs/Timesheet.MVC/FileContentIndex
/.vs
